ejercicio-ss/Nora Notes/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Titulo" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Contenido" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Propietario" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="DeleteNoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="ModifyNoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="Titulo" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Contenido" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="GetNoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNoteResponse">
        <s:complexType>
          <s:sequence>
          <s:element name="Nota" maxOccurs="1">
            <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Titulo" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Contenido" type="s:string"/>
                </s:sequence>
            </s:complexType>
          </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="ObtenerNotasRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Propietario" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNotasResponse">
          <s:complexType>
              <s:sequence>
                  <s:element name="Nota" maxOccurs="unbounded">
                      <s:complexType>
                          <s:sequence>
                            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                            <s:element minOccurs="1" maxOccurs="1" name="Titulo" type="s:string"/>
                            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:string"/>
                          </s:sequence>
                      </s:complexType>
                  </s:element>
              </s:sequence>
          </s:complexType>
      </s:element>

    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="AddNoteSoapIn">
    <wsdl:part name="parameters" element="tns:AddNoteRequest"/>
  </wsdl:message>
  <wsdl:message name="AddNoteSoapOut">
    <wsdl:part name="parameters" element="tns:AddNoteResponse"/>
  </wsdl:message>

  <wsdl:message name="DeleteNoteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNoteRequest"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse"/>
  </wsdl:message>

  <wsdl:message name="ModifyNoteSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyNoteRequest"/>
  </wsdl:message>
  <wsdl:message name="ModifyNoteSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyNoteResponse"/>
  </wsdl:message>

  <wsdl:message name="GetNoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetNoteRequest"/>
  </wsdl:message>
  <wsdl:message name="GetNoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetNoteResponse"/>
  </wsdl:message>

  <wsdl:message name="ObtenerNotasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNotasRequest"/>
  </wsdl:message>
  <wsdl:message name="ObtenerNotasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNotasResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="NoraNotesSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="AddNote">
      <wsdl:input message="tns:AddNoteSoapIn"/>
      <wsdl:output message="tns:AddNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input message="tns:DeleteNoteSoapIn"/>
      <wsdl:output message="tns:DeleteNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ModifyNote">
      <wsdl:input message="tns:ModifyNoteSoapIn"/>
      <wsdl:output message="tns:ModifyNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:input message="tns:GetNoteSoapIn"/>
      <wsdl:output message="tns:GetNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNotas">
      <wsdl:input message="tns:ObtenerNotasSoapIn"/>
      <wsdl:output message="tns:ObtenerNotasSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="NoraNotesServiceSoapBinding" type="tns:NoraNotesSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="AddNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="DeleteNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ModifyNote">
      <soap:operation soapAction="ModifyNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetNote">
      <soap:operation soapAction="GetNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ObtenerNotas">
      <soap:operation soapAction="ObtenerNotas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="NoraNotesService">
    <wsdl:port name="NoraNotesServiceSoapPort" binding="tns:NoraNotesServiceSoapBinding">
      <soap:address location="http://emanoxxx.com:8000/noranotes"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>